<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    <script src="http://projects.sfchronicle.com/shared/js/responsive-child.js"></script>
  </head>

  <body is="responsive-body">

    <div class="outer caprops-widget">
      <hr class="hr-widget">

      <div class="title-img caprops-widget">
          <a href="http://www.sfchronicle.com" target="_blank">
            <div class="desk-logo widget">
              <img src="http://projects.sfchronicle.com/shared/logos/sfcg_logo_color.png?">
            </div>
          </a>
        <img class="banner widget" src="../assets/election2016banner.png">
      </div>


      <div class="button-container">
            <div class="button race senate active" id="senatemap">S.F. Measures</div>
          </div>
          <div class="deck widget" id="timestamp-container"><span>Last updated: </span><span id="timestamp"></span></div>


      <div id="sfpropsec" class="widget">
      <div class="key ">Key:
        <span class="symbol"><i class='fa fa-check-circle-o' aria-hidden='true'></i>Approved</span> |
        <span class="symbol"><i class='fa fa-times-circle-o' aria-hidden='true'></i>Rejected</span>
      </div>

        <input type="text" placeholder="&#xf002;  Search by keyword or “measure” + letter" id="sf-propositions-search" style="font-family:AntennaExtraLight, FontAwesome">

        <div id="no-results-sf">Search by keyword or "measure"+letter</div>

        <div class="sf-propositions-list">
          <% csv.SFPropositionsData.forEach(function(prop,idx){ %>

            <div class='sf-prop-group active prop<%=prop.number%> prop.<%=prop.letter%> proposition<%=prop.letter%> measure<%=prop.letter%> <%=prop.letter%> <%=prop.title.replace(/ /g,'').replace("-","")%>'>
              <div class='sf-prop-icon'>
                <img src='../assets/graphics/sfprops/prop<%=prop.letter%>.png'></img>
              </div>
              <div class='prop-name'><%=prop.title%></div>
              <div class='result' id="sfprop<%=idx%>"><div></div></div>
              <div class='sf-prop-desc'><%=prop.description%></div>
              <% if ((prop.letter == "M") || (prop.letter == "P") || (prop.letter == "U") || (prop.letter == "X") || (prop.letter == "O")) { %>
                <div><span class="sfhousingStoryLink"></span></div>
              <% } else if ((prop.letter == "J") || (prop.letter == "K") || (prop.letter == "Q")) { %>
                <div><span class="sfhomelessStoryLink"></span></div>
              <% } else if ((prop.letter == "D") || (prop.letter == "H") || (prop.letter == "L")) { %>
                <div><span class="sfpropsStoryLink"></span></div>
              <% } else if ((prop.letter == "G") || (prop.letter == "R")) { %>
                <div><span class="sfpoliceStoryLink"></span></div>
              <% } else {%>
                <div><span class="sfpropsStoryLink"></span></div>
              <% } %>
            </div>

          <% }); %>
        </div>
      </div>

      <footer class="footer-widget">
        <div>
          <p>Live results: <a href="http://sfchronicle.com/election" target="_blank">www.sfchronicle.com/election</a></p>
        </div>
      </footer>

    </div>

    <script src="../sfmeasures_app.js" async></script>

  </body>
</html>
