<div class="divider">
</div>

<div class="credits">
  <div class="entry">Interactive producers:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
  <br>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a>
  <br>Benjamin Din  &bull; <a href="mailto:bdin@sfchronicle.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a>
  </div>
  <!-- <div class="entry">Design:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
  </div> -->
  <div class="entry">Developers:  <br>Clint Wirtanen  &bull; <a href="mailto:cwirtanen@sfchronicle.com">cwirtanen@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/ClintWirtanen" target="_blank">@ClintWirtanen</a>
  <br>Joshua Zucker  &bull; <a href="mailto:jzucker@sfchronicle.com">jzucker@sfchronicle.com</a>
  </div>
  <div class="entry">Editor:  <br>Trapper Byrne  &bull; <a href="mailto:tbyrne@sfchronicle.com">tbyrne@sfchronicle.com</a>
  </div>
  <div class="entry">Something important:  <br>Timothy O'Rourke  &bull; <a href="mailto:torourke@sfchronicle.com">torourke@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/TimothyORourke" target="_blank">@TimothyORourke</a>
  </div>
  <div class="entry">Illustrator:  <br>Todd Trumbull  &bull; <a href="mailto:ttrumbull@sfchronicle.com">ttrumbull@sfchronicle.com</a>
  </div>
  <div class="entry">
    More people, more people, more people -
    I promise I'll add everyone who should be here!
  </div>
</div>

<footer>
  <a class="logo" href="http://www.sfchronicle.com" target="_blank">
    <img src="../assets/logos/sf_logo_white.png">
  </a>
</footer>
