<div class="divider">
</div>

<div class="credits">
  <div class="entry">Interactive producers:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
  <br>Benjamin Din  &bull; <a href="mailto:bdin@sfchronicle.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a>
  </div>
  <div class="entry">More contributors will be listed here.</div>
</div>

<footer>
  <a class="logo" href="http://www.sfchronicle.com" target="_blank">
    <img src="../assets/logos/sf_logo_white.png">
  </a>
</footer>
