@import "sfchronicle";
@import "fonts";
@import "flexbox";

@block-graphics: "AntennaExtraLight";
@med-graphics: "AntennaRegular";
@bold-graphics: "AntennaMedium";
@black-graphics: "AntennaBlack";
@body: "FarnhamText";
@body-bold: "FarnhamTextBold";
@title: "FarnhamDisplayLight";
@banner: "DispatchLight";

@red: lighten(#66101F,50%);
@gray-blue: #6C85A5;
@dark-gray: #696969;
@light-gray: #B2B2B2;
@black: #191919;
@dark-blue: darken(#9C8B9E,20%);//#395272;
@dark-red: #21584E;//lighten(#66101F,20%);
@redlinks: #EC1C24;
@white: #fff;
@light-gray: #ccc;
@active-link: #a2a2a2;
@head-color: #9bb5d8;
@rename-color: #6D6D6D;

@red-map: #BC1826;//#8A0000;//"#F04646";
@blue-map: #265B9B;//#194E8E;//#004366;//"#62A9CC";
@light-blue-map: #598ECE;
@green-map: #2E655B;
@purple-map: #69586B;
@no-map: #EB8F6A;//#FFDB89;//#EAE667;
@yes-map: #61988E;//#705A91;
@light-gray-map: #D8D8D8;//#b2b2b2;
@dark-gray-map: #8C8C8C;
@orange-map: #DE8067;
@yellow-map: #FFCC32;

@base-font: 21px;
@line-height: 1.58;
@black: #333;

body {
  background-color: @white;
  font-size: @base-font;
  line-height:@line-height;
  color: @black;
  font-family: @body;
}

.outer {
  max-width: 900px;
  margin: auto;

  @media screen and (max-width: 950px) {
    width: 95%;
  }
}

a {
  color: #92172c;
}

a:hover {
  color: darken(#92172c,10%);
}

hr{
  margin-top:2em;
  border-top: 1px solid @light-gray;
  border-bottom: none;
  width: 75%;
}

h1 {
  margin-top: 0;
  margin-top: 50px;
  margin-bottom: 0;
  color: darken(@red,40%) !important;
  @media @mobile {
    margin-top: 20px;
  }
}

.section-hed {
  width: 100%;
  background-color: lighten(@light-gray,10%);
  font-family: @med-graphics;
  // border-top: 1px solid @dark-gray;
  // border-bottom: 4px solid @light-gray;
  // border-bottom: 1px solid @dark-gray;
  padding: 5px 0;
  padding-left: 20px;
  font-size: 30px;
}

.section-chatter {
  font-family: @med-graphics;
  font-size: 16px;
  text-align: left;
  padding: 10px 0;
  padding-right: 10px;
  // font-style: italic;
  color: darken(@dark-gray,10%);
}

h2 {
  font-size: 20px;
  color: @dark-gray;
  font-family: @block-graphics;
  border-bottom: 5px @light-gray solid;
  padding-top: 40px;
  margin-bottom: 30px;
  @media @mobile {
    padding-top: 0;
  }
  &.regionalhed {
    padding: 0;
    border: 0;
  }
  .fa {
    font-size: 25px;
    padding-right: 3px;
    color: @red-map;
  }
}

// .regionalhed {
//   visibility: collapse;
//   &.active {
//     visibility: visible;
//   }
// }

.section-div {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  @media @mobile {
    padding-left: 0;
  }
}
#ssec, #racesec {
  padding-left: 20px;
  @media @mobile {
    padding-left: 0;
  }
}
#fsec {
  @media @mobile {
    padding-bottom: 20px;
  }
}

h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  // color: @dark-gray;
  font-family: @block-graphics;
  @media @mobile {
    font-size: 14px;
  }
}

h4 {
  font-size: 20px;
  font-family: @med-graphics;
  border-bottom: 1px @light-gray solid;
  margin-bottom: 5px;
  margin-top: 10px;
  &.president {
    margin-bottom: 15px;
    text-align: center;
  }
}

h5 {
  background: lighten(@light-gray,10%);
  padding: 10px 0;
  padding-left: 10px;
  font-family: @banner;
  margin: 5px 0;
  cursor: pointer;
  .fa {
    font-size: 20px;
    padding-right: 10px;
  }
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}

.max{
  max-width:900px;
  margin:0 auto;
  padding:0 12px;
}

.br {
  height: 30px;
  margin: auto;
  @media @mobile {
    height: 5px;
  }
}

.break-half {
  height: 10px;
  margin: auto;
}

// text styles -------------------------------------------

.heading {
  font-size: 18px;
  text-align: left;
  font-family: @title;
  margin: 10px 0;
}

.text-hed {
  font-size: 1.2em;
  margin-bottom: 15px;
  margin-top: 35px;
  text-align: center;
  font-family: @body-bold;
  &.padded {
    padding-top: 10px;
  }
}

p {
  max-width: 730px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 1em;

  a {
    text-decoration: none;
    color: @gray-blue;
  }

  @media @mobile {
      font-size: 0.8em;
  }

}

li {
  max-width: 650px;
  margin: 0 auto;
  @media @mobile {
    margin: 0 5px;
  }
}

// interactives styles ------------------------------------

.hed {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-family: @block-graphics;
  font-weight: bold;
  @media @mobile {
    padding: 0 10px;
  }
}
.chart-hed {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  @media @mobile {
    margin: 0 10px;
    font-size: 20px;
  }
}
.chatter {
  font-size: 15px;
  text-align: center;
  padding-bottom: 5px;
  font-family: @block-graphics;
  margin: 20px auto;
  &.lesspadding {
    margin: 10px auto;
  }
  @media @tablet {
    padding: 10px;
  }
  @media @tablet {
    padding: 5px;
  }
}
.outer {
  max-width: 900px;
  margin: 30px auto;
  @media @tablet {
    margin: 20px;
  }
  @media @mobile {
    margin: 0 2.5%;//10px;
    // padding: 10px;
  }
}
.source, .credit {
  clear: left;
  padding-top: 10px;
  font-size: 12px;
  // color: @white;
  font-style: italic;
  font-family: @block-graphics;
  @media @tablet {
    padding: 10px 20px;
  }
  @media @mobile {
    padding: 10px;
  }
  &.padded {
    padding-bottom: 40px;
  }
}

// footer -------------------------------------------

footer {
  background: @df-charcoal;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;
  clear:both;

  .logo {
    float: left;
    margin-right: 10px;

    img {
      padding: 10px 0;
      width: 180px;
      vertical-align: bottom;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

// credits ----------------------------------------------

.credits {
  max-width: 900px;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  // font-size: 12px;
  font-family: @body;
  width: 80%;
  @media @mobile {
    width: 100%;
  }
  .entry {
    padding-bottom: 20px;
    font-size: 14px;
    @media @mobile {
      font-size: 12px;
    }
  }
}

// heading styles ---------------------------------------

.title-container {
  background-image: url("../assets/photos/test-img.jpg");

  &.top-margin {
    margin-top: 3.5em;
  }
}

.author {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    margin-bottom:0;
}
.date {
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
}

.year {
  font-family: @black-graphics;
}

.title {
  font-family: @block-graphics;
  text-transform: uppercase;
  font-size: 60px;
  padding: 0 10px;
  text-align: center;
  margin: 10px auto 0;
  max-width: 835px;
  padding-top: 50px;
  padding-bottom: 30px;
  color: darken(@red,40%);

  &.long {
    font-size: 50px;
    line-height: 1.2;
    margin: 20px auto 0;
    margin-top: 10px;
    margin-bottom: 25px;

    &.text-width {
      max-width:800px;
    }
    @media @mobile {
      font-size: 1.8em;
    }
  }
}

.over-img {
  position: absolute;
  bottom: 160px;
  z-index: 2;
  color: white;
  left: 0;
  right: 0;
}

.specialhead-top {
  color: @gray-blue;
  font-family: @banner;
  font-size: 18px;
  text-transform: uppercase;
  @media @mobile {
    font-size: 13px;
    vertical-align: text-top;
  }
}

.specialhead {
  text-align: center;
  text-transform: uppercase;
  color: @head-color;
  font-family: @banner;
  font-size: 15px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.61);
  max-width: 320px;
  padding: 2px 0px;
}

.deck {
  color: @dark-gray;
  width: 90%;
  margin: auto;
  font-family: @block-graphics;
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
}

.deck-sub {
  padding-top: 20px;
  font-size: 16px;
  font-family: @med-graphics;
}

// sticky navigation bar -------------------------------

.navigation {
  height: 40px;
  a {
    vertical-align: text-bottom;
  }
}

.fixed {
  position: fixed;
  top: 0 !important;
  z-index: 100;
  width: 100%;
  left: 0;
  right: 0;
  border-top: 0 !important;
}

#stick-me {
  // border-top: 1px @light-gray solid;
  // border-bottom: 1px @light-gray solid;
  // background-color: white;
  height: 40px;
  @media @mobile {
    height: 35px;
    padding-bottom: 20px;
  }
}

#stick-ph {
  display: none;
  height: 40px;
}

.link {
  padding: 5px 10px 7px;
  font-size: 18px;
  font-family: @body;
  cursor: pointer;

  &.active {
    background: @active-link;
    color: @dark-gray;
  }

  &.special {
    a {
      color: @gray-blue;
    }
  }
  &.social {
    float: right;
    margin: 0 6px;
    padding: 4px 2px;
    a {
      color: @gray-blue;//#92172c;
    }
  }
  &.email {
    margin-right: 10px;
  }
}
.logo-link {
  cursor: pointer;
  margin: 0 0 0 10px;
  img {
    opacity: 1;
    height: 20px;
  }
}

.link, .logo-link {
  display: inline-block;
}

header {
  background: @white;
  overflow: visible;
  opacity: 0.9;
  -webkit-box-shadow: 0 0 6px 0 @dark-gray;
  -moz-box-shadow: 0 0 6px 0 @dark-gray;
  box-shadow: 0 0 6px 0 @dark-gray;
  padding-top: 6px;
  @media @mobile {
    height: 35px;
  }

  a {
    text-decoration:none;
  }

  .logo {
    float: left;
    padding: 6px 0 0 8px;
    margin: 0;
      img {
       vertical-align: text-bottom;
       width:180px;
      }
      @media @mobile {
        display: none;
      }
  }
  .mobile-logo {
    display: none;
     @media @mobile {
       display: inline;
     }
    img {
      height: 16px;
      vertical-align: baseline;

    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}


// photo styles ----------------------------------------

.caption {
  text-align: left;
  font-family: @body;
  font-size: 12px;
  margin-top: 5px;
  padding: 0 10px;
  max-width: 100%;
  &.landing {
    margin-bottom: 2.5em;
  }
}

.byline {
  color: @rename-color;
  font-style: italic;
}

.background-img {
    height: 800px;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: block;
    z-index: 1;

    @media @mobile {
      height: 640px;
    }
}

.full-width-img {
  margin: 2em auto;
  width: 100%;

  img {
    width:100%;
  }
}

.inline-img {
  max-width: 730px;
  margin: 2em auto;

  .caption{
    padding:0;

      @media @text-width{
        padding:0 10px;
      }
  }
}

.inline-graphic {
    max-width: 640px;
    margin: 2em auto;
    padding: 0 10px;
}
.too-big {
  text-align: center;
  img {
    max-width: 80%;
    margin: 0px auto;
    @media @mobile {
      max-width: 100%;
    }
  }
}

.float-img-container {
  max-width: 735px;
  width: 100%;
  margin: 0 auto;
}

.float-img {
    max-width: 420px;
    &.vertical {
      max-width: 300px;
    }

    @media (max-width: 861px){
      float: none;
      margin: 2em auto;
    }

    .caption{
      padding:0;
    }

    @media @text-width{
      padding:0 10px;
    }

    &.left {
      float: left;
      margin: 1em 1.5em 0.5em -7.5em;

      @media (max-width: 1072px){
        float: none;
        margin: 2em auto;
      }
    }
    &.right {
      float: right;
      margin: 1em -7.5em 0.5em 1.5em;

      @media (max-width: 1072px){
        float: none;
        margin: 2em auto;
      }
    }
    &.center {
      margin: 0 auto;
      max-width: 600px;
    }
}

// video embed code ------------------------------------

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// don't miss ------------------------------------------

.dont-miss {
  .display-flex;
  .flex-wrap(wrap);
  margin-bottom: 20px;
  font-size: 17px;
  font-family: @block-graphics;
  @media @mobile {
    margin-bottom: 40px;
  }

  .story {
    .flex(0 0 25%);

    @media @mobile {
      .flex(1 1 50%)
    }
  }
  .padded {
    padding: 10px;
  }
  .small {
    font-weight: bold;
    font-size: 15px;
  }
  img {
    width: 100%;
  }
}

// election styles ----------------------------------

.sub-title-links {
  height: 40px;
  padding-top: 5px;
  font-family: @bold-graphics;
  text-align: center;
  .sub-title {
    display: inline-block;
    border-bottom: 4px solid @light-gray;
    padding: 0 20px;
    margin: 0 10px;
    float: center;
    cursor: pointer;

    @media @mobile {
      width: 80px;
      font-size: 14px;
      height: 20px;
    }
  }
  .long {
    display: none;
    padding-right: 30px;
    float: right;
    color: #92172c;
    text-align: right;
    @media @mobile {
      // display: none;
      font-size: 14px;
      width: 140px;
    }
  }
}

.share-block {
  display: none;
}

.fixed {
  -webkit-box-shadow: 0 0 6px 0 @dark-gray;
  -moz-box-shadow: 0 0 6px 0 @dark-gray;
  box-shadow: 0 0 6px 0 @dark-gray;
  background-color: lighten(@light-gray,10%);
  .sub-title-links {
    text-align: left;
    font-family: @block-graphics;
  }
  .sub-title {
    border-bottom: 0px;
  }
  .share-block {
    display: block;
    vertical-align: text-top;
    .link {
      padding-top: 2px !important;
      margin-top: 0 !important;
    }
    i {
      color: #92172c;
    }
  }
}

#long {
  @media @mobile {
    display: none !important;
  }
}

.icon {
  height: 80px;
  margin-bottom: 5px;
  img {
    height: 80px;
  }
  @media @mobile {
    height: 60px;
    img {
      height: 60px;
    }
  }
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}

.divider {
  border-bottom: 1px @light-gray solid;
}

.entry {
  width: 100%;
  display: inline-block;
  font-family: @block-graphics;
  font-size: 18px;
  .name, .bar, .bar-label {
    display: inline;
    float: left;
  }
  .name {
    width: 250px;
    @media @mobile {
      width: 180px;
    }
  }
  .bar-label {
    &.long {
      float: right;
    }
    padding-left: 10px;
    font-size: 14px;
    margin-top: 4px;
    @media @mobile {
      margin-top: 0;
    }
  }
  .bar {
    margin-top: 5px;
    background: darken(#C6D8D3,10%);//#C6D8D3;
    background-position: 0;
    height: 20px;
    width: 500px;
    vertical-align: text-top;
    @media @mobile {
      margin-top: 2px;
    }
  }
}

#senate-power-balance, #house-power-balance, #governor-power-balance {
  .disappear {
    display: none;
  }
  .party-name {
    margin-top: 0;
    padding-top: 0;
    font-size: 16px;
  }
  .marker270, .marker270label {
    padding-top: 20px;
  }
}

.president-name, .party-name {
  margin-top: 20px;
  padding: 10px;
  height: 28px;
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
  @media @mobile {
    margin-top: 0;
    padding: 0;
    height: 25px;
  }
}
.president-bar, .senate-bar, .house-bar, .governor-bar {
  width: 100%;
  margin-top: 30px;
  overflow: auto;
}

.bar {
  display: inline;
  float: left;
  height: 20px;
  // margin-bottom: 20px;
}

.marker270 {
  left: 50.1859%;
  transform: translateX(-50.1859%);
  position: absolute;
  clear:both;
  margin: 0 auto 20px auto;
  font-size: 15px;
}

.marker270label {
  font-family: @block-graphics;
  font-size: 14px;
  position: relative;
  width: 200px;
  left: 52%;
  //  margin-top: -45px;
}

#uncounted, #uncounted-senate, #uncounted-house, #uncounted-governor {
  background: #ccc;
  background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,1) 4px, rgba(255,255,255,1) 5px);
  background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,1) 4px, rgba(255,255,255,1) 5px);
  background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,1) 4px, rgba(255,255,255,1) 5px);
  background-image: -ms-repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,1) 4px, rgba(255,255,255,1) 5px);
  background-image: -repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,1) 4px, rgba(255,255,255,1) 5px);
}
#hillaryclinton, #dem-senate, #dem-house, #dem-governor {
  background: @blue-map;//#62A9CC;
}
#donaldtrump, #rep-senate, #rep-house, #rep-governor {
  background: @red-map;//#F04646;
}

#other, #other-senate, #other-house, #other-governor {
  background: @yellow-map;
}

.regional-callouts {
  justify-content: center;
  .reg-prop-name {
    font-size: 16px;
  }
  .result {
    // height: 40px;
    margin-top: -10px;
  }
}

.propositions-list, .sf-propositions-list, .regional-callouts {
  font-family: @block-graphics;
  .display-flex;
  .flex-wrap(wrap);
  .sf-prop-group,.prop-group {
    margin: 0.5%;
    padding: 10px;
    background: lighten(@light-gray,10%);
    border-radius: 5px;
    display: none;
    &.active {
      display:block;
      // width: 100%;
      .flex(0 0 32%);
      @media @mobile {
        margin: 5px auto;
        .flex(0 0 99.5%);
      }
    }
    .vote-req {
      padding-top: 10px;
      font-family: @block-graphics;
      font-style: normal;
    }
  }
  .reg-prop-group {
    // margin: 0.5%;
    padding: 10px;
    margin-bottom: 20px;
    background: lighten(@light-gray,10%);
    border-radius: 5px;
    display:block;
    // border: 2px @light-gray solid;
    // width: 100%;
    .flex(0 0 32.5%);
    margin: 0.25%;
    &.long {
      .flex(0 0 98.5%);
    }
    @media @mobile {
      margin: 5px auto;
      .flex(0 0 99.5%);
    }
  }
}

.prop-name, .sf-prop-name, .reg-prop-name {
  font-weight: 400;
}

.reg-prop-icon, .sf-prop-icon,.prop-icon {
  display: inline-block;
  height: 60px;
  text-align: center;
  float: center;
  img {
    height: 60px;
  }
}
.sf-prop-group, .reg-prop-group, .prop-group {
  text-align: center;
}

.prop-desc, .sf-prop-desc, .reg-prop-desc {
  font-family: @med-graphics;
  font-style: italic;
  font-size: 14px;
}
.prop-link, .sf-prop-link {
  font-size: 14px;
}

.result {
  padding: 6px 0;
}

.propno, .propyes {
  font-size: 16px;
  font-family: "AntennaBold";
  i {
    padding-right: 5px;
  }
  &.small {
    font-size: 14px;
  }
  // margin-left: 20px;
}

.propyes {
  i {
    // padding-left: 5px;
    color: green;
  }
}
.propno {
  padding-left: 10px;
  i {
    // padding-left: 5px;
    color: red;
  }
}
.no-class{
  padding-left: 10px;
}

.fa-star {
  padding-left: 2px !important;
  font-size: 12px !important;
  color: @dark-gray !important;
  vertical-align: text-top !important;
}

.prop-precincts {
  font-size: 14px;
}

#propositions-search, #sf-propositions-search {
  font-size: 18px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid @light-gray;
  margin-bottom: 10px;
  @media @mobile {
    font-size: 16px;
  }
}

.sfresult {
  font-size: 16px;
  i {
    font-size: 20px;
  }
  .fa-times-circle-o {
    color: red;
    margin-left: 10px;
  }
  .fa-check-circle-o {
    color: green;
    margin-right: 10px;
  }
}

// #propsec, #sfpropsec, #racesec, #ssec {
//  display: none;
// }

// #sfpropsec, #ssec {
//  display: none;
// }
// #racesec, #propsec {
//   display: block;
// }

.propositions, .sf-propositions, .races {
  cursor: pointer;
  cursor: hand;
}

.show {
  height: 50px;
  width: 50px;
  background-color: blue;
}

.name {
  .fa {
    color: green;
    padding-right: 5px;
  }
}

// topojson maps ---------------------------------------------------------------

.states {
  // fill: #b2b2b2;
  stroke: white;
  stroke-linejoin: round;
  stroke-width: 0.3px;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
#map-container-state, #map-container-federal, #presidentMap_States-container {
  .states {
    stroke-width: 1px;
  }
}

.tooltip {
  font-size: 14px;
  font-family: @block-graphics;
  padding: 10px;
  border-radius: 3px;
  background: lighten(@light-gray,20%);
  border: 1px @dark-gray solid;
  .fa-check-circle-o {
    color: green;
    margin-right: 5px;
  }
  @media @tablet {
    font-size: 12px;
  }
  @media @mobile {
    line-height: 20px;
  }
}

.flex-container {
  .display-flex();
  @media @mobile {
    clear: both;
    display: block;
  }
}

.measure-group {
  font-family: @block-graphics;
  font-size: 16px;
  .result {
    font-size: 18px;
    .fa {
      font-size: 16px;
    }
    &.yes {
      i {color: green;}
    }
    &.no {
      i {color: red;}
    }

  }
}

#regional {
  .name {
    font-size: 16px !important;
    .fa-check-circle-o {
      font-size: 18px !important;
      vertical-align: middle;
    }
  }
}

#map-container-state {
  padding-bottom: 35%;
  .flex(0 0 65%);
  @media @tablet {
    padding-bottom: 40%;
  }
  @media @mobile {
    clear: both;
    width: 100%;
    padding-bottom: 48%;
  }
  svg {
    margin: auto;
  }
}

// .section-container {
//   background: @light-blue-map;
//   color: white;
// }

.section-container {
  margin: 25px 0 !important;
}

.drop-down {
  display: none;
  @media @mobile {
    display: block;
    .select-text {
      font-family: @block-graphics;
      font-size: 15px;
    }
    select {
      font-family: @block-graphics;
      font-size: 14px;
      background: lighten(@light-gray,5%);
      width: 90%;
      padding: 5px;
      margin-left: 5%;
    }
  }
}

.button-container {
  text-align: center;
  margin: 5px auto;
  margin-bottom: 10px;
  &.vertical {
    .flex(0 0 45%);
    @media @tablet {
      .flex(0 0 45%);
    }
    @media @mobile {
      display: none;
    }
  }
  .button {
    width: 200px;
    font-family: @block-graphics;
    font-size: 16px;
    display: inline-block;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
    .bold-button-number {
      font-family: @bold-graphics;
    }
    @media @mobile {
      font-size: 14px;
      width: 49%;
    }
  }
  .sectionbutton {
    background: @blue-map;
    color: white;
    @media @tablet {
      font-size: 16px;
    }
    &:hover {
      background: @light-blue-map;
    }
    &.active {
      background: @light-blue-map;
    }
  }
  .camap {
    width: 49%;
    font-size: 14px;
    @media @tablet-horiz {
      font-size: 11px;
    }
    margin: 0;
    padding: 2px;
    margin: 1px auto;
    height: 50px;
    vertical-align: middle;
    // &.prop51{//, &.casenate, &.cadistrict, &.caassembly, &.cafeddistrict {
    //   padding: 14px 2px;
    // }
    &.casenate, &.cadistrict, &.caassembly, &.cafeddistrict {
      height: 35px;
    }
  }
  .race {
    color: @dark-blue;
    border: 1px solid @dark-blue;
    background: lighten(@dark-blue,80%);
    &:hover {
      color: white;
      background: @dark-blue;
    }
    &.active {
      color: white;
      background: @dark-blue;
    }
  }
  .prop {
    color: @dark-red;
    border: 1px solid @dark-red;
    &:hover {
      color: white;
      background: @dark-red;
    }
    &.active {
      color: white;
      background: @dark-red;
    }
  }
}

.in-transition {
    transition: transform 900ms ease;
}

.activelink {
  font-family: AntennaRegular;
}

.activediv {
  @media @tablet {
    display: inline-block !important;
  }
}


.mark270 {
  left: 50.1859%;
  transform: translateX(-50.1859%);
  width: 1%;
  max-width: 2px;
  position: absolute;
  background-color: white;
  height: 20px;
}

.mark50 {
  left: 50%;
  transform: translateX(-50%);
  width: 1%;
  max-width: 2px;
  position: absolute;
  background-color: white;
  height: 20px;
}

.Demparty, .GOPparty, .party {
  color: white;
  font-size: 12px;
  padding: 2px 3px;
  border-radius: 4px;
  font-family: AntennaRegular;
  vertical-align: middle;
}
.party {background-color: lighten(@yellow-map,10%);}
.Demparty { background-color: lighten(@blue-map,10%) !important;}
.jillstein { background-color: lighten(@green-map,10%) !important;}
.garyjohnson { background-color: lighten(@orange-map,10%) !important;}
#map-container-state {
  .Demparty {
    &.lorettasanchez {
      background-color: lighten(@light-blue-map,10%) !important;
    }
  }
}
.GOPparty {background-color: lighten(@red-map,10%) !important;}//rgb(240, 70, 70);}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 55%; /* aspect ratio */
    vertical-align: top;
    // overflow: hidden;
}

#state-svg-container {
  padding-bottom: 77%;

  @media @tablet {
    padding-bottom: 95%;
  }
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

// @media @tablet {
//   .entry .name {
//     width: 100%;
//   }
// }

.disappear {
  visibility: collapse;
  position: absolute;
  left: 0;
}

.title-img {
  max-width: 100%;
  img {
    width: 100%;
  }
  margin-bottom: 40px;
  @media @mobile {
    margin: 20px;
  }
}

.legend-container {
  font-size: 12px;
  font-family: @block-graphics;
  border: 1px solid @black;
  border-radius: 6px;
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
  padding: 4px;
  .display-flex;
  .flex-wrap(wrap);
  @media @mobile {
    margin: 15px auto;
  }
  .element {
    .flex(0 0 50%);
  }
  .rep-swath, .dem-swath, .dem2-swath, .other-swath, .tied-swath, .called-swath, .no-swath, .yes-swath, .uncalled-swath, .no-race-swath, .stein-swath, .johnson-swath  {
    height: 14px;
    width: 14px;
    margin: 4px;
    border-radius: 2px;
  }
  .rep-swath {background: @red-map}
  .dem-swath {background: @blue-map}
  .stein-swath {background: @green-map}
  .johnson-swath {background: @orange-map}
  .dem2-swath {background: @light-blue-map;}
  .other-swath {background: @yellow-map;}
  .tied-swath {background: @purple-map;}
  .called-swath {border: 1px solid black;}
  .no-swath {background: @no-map;}
  .yes-swath {background: @yes-map;}
  // .uncalled-swath {background: @dark-gray-map;}
  .uncalled-swath {background-color: @dark-gray-map;}
  .uncalled-swath {
    background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,1) 4px, rgba(255,255,255,1) 5px);
    background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,1) 4px, rgba(255,255,255,1) 5px);
    background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,1) 4px, rgba(255,255,255,1) 5px);
    background-image: -ms-repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,1) 4px, rgba(255,255,255,1) 5px);
    background-image: -repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,1) 4px, rgba(255,255,255,1) 5px);
  }
  .no-race-swath {background: @light-gray-map;}
  .legend-text {
    width: 150px;
    padding-left: 20px;
    vertical-align: text-top;
  }
}

.ca-legend {
  display: none;
  &.active {
    .display-flex;
    .flex-wrap(wrap);
  }
}

#pres-button-container {
  @media @mobile {
    display: none;
  }
}

.ad {
  img {
    width: 100%;
  }
  &.mobile {
    display: none;
    @media @mobile {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  &.desktop {
    display: block;
    @media @mobile {
      display: none;
    }
  }
}
