// ----------------------------------------------------------------------------------
// styles for widgets ---------------------------------------------------------------
// ----------------------------------------------------------------------------------

.outer{

	&.widget{
	  max-width:650px;
	  margin-top:0;
	  padding:0 10px;
	}

	&.homepage-widget{
	max-width:1200px;
	margin-top:0;
	padding:0 1em;
	}
}
.title-img {

  &.homepage-widget {
  	padding-bottom:1em;
    border-bottom: 1px solid #ccc;
    @media @mobile{
    padding-bottom: 0.51em;
  	}
  }

  &.caprops-widget{
  max-width:650px;
  margin:0 auto;
  }

  @media (max-width:1110px){
  text-align:center;
  }
}

.hr-widget{
	width:100%;
	margin-top:1em;
}

.deck {
  &.widget {
  	clear:left;
    color: #333;
    margin-bottom:5px;
    font-size: 1em;
    font-family: @med-graphics;
  }
}

.banner{
	&.homepage-widget{
		max-width:500px;
    padding-left: 2em;
		float:left;

		@media (max-width:1110px){
		    padding: 0;
    float: none;
		}
	}
}

.legend-container{

	&.widget{
	    width: 100%;
	   	max-width: 660px;
	    border: none;
	    padding-left: 7%;

	    @media @mobile{
	    padding-left:0;
	    }

	&.homepage{
	    max-width: 740px;
	}

		.element{
		    -webkit-flex: 0 0 20%;
		    -ms-flex: 0 0 20%;
		    flex: 0 0 20%;

			@media (max-width:500px){
				-webkit-flex: 0 0 50%;
			    -ms-flex: 0 0 50%;
			    flex: 0 0 50%;

			    &:nth-child(3){
			    	display:none;
			    }
			    &:nth-child(4){
			    	display:none;
			    }
			}
		}

		@media @mobile{
			padding:0;
			margin-top:0;
		}
	}
}

.desk-logo{

	&.widget{
		max-width:200px;
		margin:0 auto;
	}
}

.icon{

	&.widget{
		height:70px;

		img{
		height:70px;
		}
	}
}

.president-name{
	&.widget{
	@media @mobile{
	font-size:14px;
	}
	}
}

.footer-widget{
	z-index:2;
	background-color:#ccc;
	padding:5px 10px;

	p{
	font-family:@block-graphics;
	color:#000;
	margin:0;
	padding:0;
	font-size:0.8em;

		@media @mobile{
		  font-size: 13px;
		}
	}
}

.president-votes{

	&.widget{
		@media @mobile{
		  font-size:12px;
		}
	}
}



// Homepage Styles

.legend-container{

	&.home{
		width: 100%;
    max-width: 610px;
    border: none;
    padding-left: 5%;
  }

  &.swath{
    display: inline-block;
  }

	.element-home{
  float: left;
  margin-right: 10px;
  font-family: "AntennaRegular";
  }

  .swath{
  display:inline-block;
  }
  .text{
  display:inline-block;
  vertical-align:super;
  }
}

#countdown-header{
	float:left;
	padding:1em 0 0 2em;

	.time{
	float:left;
	color:red;
	font-family:'AntennaRegular';
	margin:0 5px;
	}

	.text{
	font-size:0.7em;
	float:left;
  padding-top: 8px;
  padding-left: 2px;

    @media (max-width:1110px){
    	padding-top:10px;
    	font-size:0.6em;
    }
	}

	span{
	float:left;
	font-family:'AntennaExtraLight';
	margin-right:1em;

		@media (max-width:1170px){
			font-size: 0.8em;
			margin-top: 5px;
		}

		@media (max-width:1110px){
		  margin: 0 auto;
		  padding: 0.3em 0 0 2em;
		}

		@media (max-width:555px){
			width: 100%;
    	padding-left: 0;
		}

		@media @mobile{
		margin-top: 0;
		width: 100%;
		padding-left:0;

		}
	}

	@media (max-width:1110px){
	    float: none;
    max-width: 530px;
    margin: 0 auto;
    padding: 0;
	}

	@media @mobile{
		padding:0;
		float:none;
	}
}

#timestamp-container{
	font-size:0.7em;

	@media @mobile{
	font-size:0.5em;
	}

}

#countdown{
	float:left;

	.hours, .minutes, .seconds{
	float:left;

	}

	@media (max-width:555px){
    width: 105%;
    overflow:hidden;
    max-width: 300px;
    float: none;
    margin: 0 auto;

	}
}


.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
 }

 #homepage-president{
  margin-right:1em;
 	width: 100%;
  float: left;
  max-width: 720px;
  margin-top: 1em;

    @media (max-width:1110px){
    max-width:600px;
    width:60%;
    }

    @media (max-width:870px){
    .icon {display:none;}
    }

    @media @tablet{
    width:100%;
    max-width:800px;
    }
 }
#homepage-deck{
    text-align: center;
    line-height: 1.2;
    font-size: 0.8em;
}
#homepage-links{
 	min-height:385px;
    float: right;
    width: 31%;
    padding: 1em 2em;
    margin-top: 1em;
    border-left: 1px solid #ccc;

    .links-title{
    background-color: #C12020;
    color: white;
    margin-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
    padding: 3px 7px;
    font-size: 0.6em;
    font-family:'AntennaRegular';
    }

    p{
    font-size:16px;
    padding:0;
    }

    @media (max-width:1110px){
        padding: 0 1em;
    }

    @media @tablet{
    width: 100%;
    border-left: none;
    border-top: 1px solid #ccc;
    padding: 1em 0;
    }
}

#story-links{

	h3{
	font-family:'FarnhamText';
	margin-bottom:1em;
	font-size:0.8em;

	}

	a{
	color:#333;
	}

	height:350px;

	@media (max-width:900px){
		height:480px;
	}
	@media @tablet{
		height:250px;
	}
	@media @mobile{
	height:350px;
	}
}

#image{
	max-width:300px;

	.caption{
	padding: 0;
    margin: 0;
    font-family: AntennaRegular;
    color:@dark-gray;
	}

	img{
	width:100%;
	}
}

#homepage-headline{
	  font-size: 3em;
	  line-height:1.1;
    text-align: center;
    font-family: FarnhamTextBold;
    text-transform: uppercase;

    @media (max-width:1110px){
    font-size:2.25em;
    }
    @media (max-width:870px){
    font-size:1.75em;
    }
}

.headline-container{
	height: 80px;
    box-shadow: none;
    padding: 0;

    @media @mobile{
    height:130px;
    }
}

.marker270 {
	&.widget {
		margin-top: 20px !important;
		margin-bottom: 0 !important;
	}
}

#fsec{
	
	&.fsec-margin-top{
		margin-top:1.5em;
	}
}

#senate-power-balance .party-name,
#house-power-balance .party-name,
#governor-power-balance .party-name {
    
    font-size: 14px;

    @media @mobile{
     font-size:12px;
     font-family:'AntennaRegular'
    }

    span{
    font-size:10px;
    }

}


.entry{
	.name{
		@media @mobile{
		width:100% !important;
		}
	}	
}

.Demparty, .GOPparty, .party {
    font-size: 8px;
    font-family: AntennaRegular;
    text-transform: uppercase;
}

.house-element{
	.flex(0 0 26%);
	@media @mobile{
		.flex(0 0 49%);
	}
}

#map-container-state-props {
	
	&.widget{
	  @media (max-width:670px){
	  margin-bottom:27%;
	  }
	}
}

.caprop-element{
	.flex(0 0 16%);

	@media @mobile{
    .flex(0 0 20%);
	}
}

.label-SF-widget{
	margin-top:-193px;

	@media @tablet{
	margin-top: -120px;
	font-size:12px;
	}

	@media mobile{
	 margin-top: -125px;
     font-size: 10px;
	}
}

.label-LA-widget{
	margin-top:-6px;

	@media @tablet{
		margin-top:15px;
		font-size:15px;
	}

	@media @mobile{
		font-size:10px;
		margin-top:-5px;
	}
}

#racesec{

	&.widget{
		margin-bottom:2em;
		margin-top:4em;
	}
}

#map-container-state{
	&.widget{
		margin-bottom:10%;
	}
}

.sfsupes-arrow{
	font-size: 25px !important;
	cursor:pointer;
    padding-right: 3px;
    color: #BC1826;
}

#district3,
#district5,
#district7,
#district9,
#district11{
//	display:none;
} 


.regionalDataTimer {
	
	&.widget{

	}
} 

#regionalpropRR{
	
	&.widget{

		text-align:center;

		span{
		font-size:1em;
		}
	}
}

.sf-prop-icon{
	
	&.widget{
	width: 100%;
    padding: 0;
	}
}

.reg-prop-desc{
	
	&.widget{
	padding:0;
	text-align:center;
	font-size:0.6em;
	width: 100%;
    max-width: 420px;
    float: none;
    margin: 0 auto;
	}
}

#sfpropsec{
	&.widget{
    margin-top: 2em;
	}
}