<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics.html") %>
  </head>
  <script>  var HDN = HDN || {}  </script>

  <body>

    <responsive-child>

    <%= t.include("partials/_nav.html") %>

    <div class="outer">

      <!-- <img class="icon left" src="./assets/top_hat.jpg"></img> -->
      <!-- <img class="icon right" src="./assets/top_hat.jpg"></img> -->
      <div class="title">Election <span class="year">2016</span></div>
      <div class="deck">The Chronicle brings you the culmination of a very tumultuous election season.</div>
    </div>
      <div id="stick-here"></div>
      <div id="stick-me">
        <div class="sub-title-links outer" style="margin: 0 auto;">
          <div class="long" id="long">ELECTION <span class="year">2016</span></div>
          <div class="sub-title"><a id="f" href="#federal">Federal</a></div>
          <div class="sub-title"><a id="s" href="#state">State</a></div>
          <div class="sub-title"><a id="l" href="#local">Local</a></div>
          <div class="sub-title"><a id="r" href="#regional">Regional</a></div>
        </div>
      </div>
      <div id="stick-ph"></div>

      <div class="outer">

      <section id="federal">
      <h1>Federal</h1>

        <div class="heading">The purpose of this project is to create a well-designed, branded and cohesive online presence for the 2016 election results.  Secondarily, we hope to reduce the amount of manual data-entry required to gather local county election results on election night.</div>
        <div class="br"></div>

        <h4 class="race president">President</h4>

        <h3 class="president-name left">Hillary Clinton <span id="electoralhillaryclinton">(100)</span></h3>
        <h3 class="president-name right">Donald Trump <span id="electoraldonaldtrump">(10)</span></h3>
        <div class="president-bar">
          <div class="bar" id="hillaryclinton"></div>
          <div class="bar" id="uncounted"></div>
          <div class="bar" id="donaldtrump"></div>
          <div class="mark270"></div>
        </div>
        <div class="marker270"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
        <div class="marker270label">270 electoral votes</div>

        <div class="button-container" id="pres-button-container">
          <div class="button race button-pres states-pres active" id="presidentbystate">Results by state</div>
          <div class="button race button-pres counties-pres" id="presidentbycounty">Results by county</div>
        </div>

        <div id="map-container-president"></div>

        <div class="divider"></div>
        <div class="inline-img">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=AD%20SPACE&w=728&h=90"></img>
        </div>

        <h4 class="race senate" id="senate">US Senate</h4>
        <h4 class="race congress" id="congress">US Congress</h4>

      <div class="outer">

        <div class="hed">Federal election results:</div>

        <div class="button-container">
          <div class="button race governor active" id="governormap">Governor</div>
          <div class="button race senate" id="senatemap">Senate</div>
          <div class="button race congress" id="congressmap">Congress</div>
        </div>

        <div id="map-container-federal"></div>

      </div>

    </section>
    <section id="state">
      <h1>State</h1>

      <div class="heading">The purpose of this project is to create a well-designed, branded and cohesive online presence for the 2016 election results.  Secondarily, we hope to reduce the amount of manual data-entry required to gather local county election results on election night.</div>
      <div class="br"></div>

      <div class="hed">California results by county:</div>
      <div class="chatter">Hover over or click on the counties to see how Califnorians voted in each precinct for representatives and propositions.</div>

      <div class="flex-container">
        <div class="button-container vertical">
          <div class="button race statesenate">State Senate</div>
          <div class="button race statedistrict9">State District 9</div>
          <div class="button race stateassembly">State Assembly</div>
          <div class="button prop cigarettes">Cigarette Tax</div>
          <div class="button prop deathpenalty">Death Penalty Ban</div>
          <div class="button prop bags">Carry-out bags charge</div>
          <div class="button prop marijuana">Marijuana Legalization</div>
        </div>

        <div id="map-container-state"></div>
      </div>

      <h2 class="races" id="racectrl"><i class="fa fa-caret-right" id="rcaret" aria-hidden="true"></i>  Races:</h2>

      <div id="racesec">
        <h4 class="race statesenate" id="statesenate">State Senate</h4>
        <h4 class="race statedistrict9" id="statedistrict9">State District 9</h4>
        <h4 class="race stateassembly" id="stateassembly">State Assembly</h4>
      </div>

      <h2 class="propositions" id="propctrl"><i class="fa fa-caret-right" id="caret" aria-hidden="true"></i>  Propositions:</h2>
      <div id="propsec">
        <input type="text" placeholder="&#xf002;  Search by proposition number" id="propositions-search" style="font-family:AntennaExtraLight, FontAwesome">

        <div class="propositions-list">
          <div id="propositions-list"></div>
        </div>
      </div>

    </section>
    <section id="local">

      <h1>Local</h1>

      <div class="heading">The purpose of this project is to create a well-designed, branded and cohesive online presence for the 2016 election results.  Secondarily, we hope to reduce the amount of manual data-entry required to gather local county election results on election night.</div>

      <h2 class="races" id="sctrl"><i class="fa fa-caret-right" id="scaret" aria-hidden="true"></i>  SF Supervisors:</h2>
      <div id="ssec">
        <h4 class="race sup" id="district1">District 1</h4>
        <h4 class="race sup" id="district3">District 3</h4>
        <h4 class="race sup" id="district5">District 5</h4>
        <h4 class="race sup" id="district7">District 7</h4>
        <h4 class="race sup" id="district9">District 9</h4>
        <h4 class="race sup" id="district11">District 11</h4>
      </div>

      <h2 class="sf-propositions" id="sfpropctrl"><i class="fa fa-caret-right" id="sfcaret" aria-hidden="true"></i>  SF Propositions:</h2>
      <div id="sfpropsec">
        <input type="text" placeholder="&#xf002;  Search by SF proposition letter or name" id="sf-propositions-search" style="font-family:AntennaExtraLight, FontAwesome">

        <div class="sf-propositions-list">
          <div id="sf-propositions-list"></div>
        </div>
      </div>
    </section>
    <section id="regional">

      <h1>Regional</h1>

      <div class="heading">The purpose of this project is to create a well-designed, branded and cohesive online presence for the 2016 election results.  Secondarily, we hope to reduce the amount of manual data-entry required to gather local county election results on election night.</div>
      <div class="br"></div>

    </section>

    <div class="divider"></div>

    <div class="inline-img" style="text-align: center">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=AD%20SPACE&w=300&h=250"></img>
    </div>

    </div>

    </responsive-child>

    <%= t.include("partials/_footer.html") %>

    <script>

      // presidential data
      var presidentialData = <%= JSON.stringify(csv.presidentialData) %>;
      var presidentialCountyData = <%= JSON.stringify(csv.presidentialCountyData) %>;
      var electoralVotes = <%= JSON.stringify(csv.electoralVotes) %>;
      var federalRaces = <%= JSON.stringify(csv.federalRaces) %>;

      //country data
      var governorRaces = <%= JSON.stringify(csv.GovernorData) %>;
      var senateRaces = <%= JSON.stringify(csv.SenateData) %>;
      var congressRaces = <%= JSON.stringify(csv.CongressData) %>;

      // state data
      var stateRaces = <%= JSON.stringify(csv.stateRaces) %>;
      var propList = window.propList = <%= JSON.stringify(csv.StatePropositionsData) %>;

      // SF data
      var SFpropList = window.SFpropList = <%= JSON.stringify(csv.SFPropositionsData) %>;
      var SFsupesList = <%= JSON.stringify(csv.SFSupesData) %>;

      // map look-up tables
      var stateCodes = <%= JSON.stringify(csv.stateCodes) %>;
      var countyCodes = <%= JSON.stringify(json.countyCodesLookup) %>;


    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
