<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <script type="text/javascript" id="adPositionManagerScriptTag" src="http://aps.hearstnp.com/Scripts/loadAds.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics.html") %>
  </head>

  <body>

    <responsive-child>

    <%= t.include("partials/_nav.html") %>

    <div class="outer">

      <div class="title-img"><img src="./assets/election2016banner.png"></div>

      <div class="deck">What a tumultuous election cycle this has been! We've been covering it every step of the way, and now you can explore our amazing elections page and see what new leaders and policies will shape our communities! Click on the section headers below or scroll to see all the results.</div>

      <div id="stick-here"></div>
      <div id="stick-me">
        <div class="sub-title-links outer" style="margin: 0 auto;">
          <div class="share-block">
            <div class="link social email">
              <a id="mail-icon" title="Share via email" href="mailto:?subject=<%= grunt.data.json.project.title %>&body=<%= grunt.data.json.project.description %>%0A%0Ahttp%3A%2F%2Fprojects.sfchronicle.com%2F2016%2F<%= grunt.data.json.project.slug %>">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </a>
            </div>
            <div class="link social">
              <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2F<%= grunt.data.json.project.slug %>', 'facebook-share-dialog', 'width=626,height=436'); return false;">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <div class="link social">
              <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2F<%= grunt.data.json.project.slug %>&text=<%= grunt.data.json.project.twitter_text %>&hashtags=<%= grunt.data.json.project.hashtag %>">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
          </div>
          <div class="long" id="long">ELECTION <span class="year">2016</span></div>
          <div class="sub-title"><a id="f" href="#federal">Federal</a></div>
          <div class="sub-title"><a id="s" href="#state">State</a></div>
          <div class="sub-title"><a id="l" href="#local">SF</a></div>
          <div class="sub-title"><a id="r" href="#regional">Bay Area</a></div>
        </div>
      </div>
      <div id="stick-ph"></div>

      <div class="outer">

        <h4 class="race president">President</h4>

        <div class="icon left">
          <img src="./assets/graphics/clinton.png">
        </div>
        <div class="icon right">
          <img src="./assets/graphics/trump.png">
        </div>

        <h3 class="president-name left">Hillary Clinton <span id="electoralhillaryclinton">(100)</span></h3>
        <h3 class="president-name right">Donald Trump <span id="electoraldonaldtrump">(10)</span></h3>
        <div class="president-bar">
          <div class="bar" id="hillaryclinton"></div>
          <div class="bar" id="other"></div>
          <div class="bar" id="uncounted"></div>
          <div class="bar" id="donaldtrump"></div>
          <div class="mark270"></div>
        </div>
        <div class="marker270"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
        <div class="marker270label">270 electoral votes</div>

        <div class="button-container" id="pres-button-container">
          <div class="button race button-pres states-pres active" id="presidentbystate">Results by state</div>
          <div class="button race button-pres counties-pres" id="presidentbycounty">Results by county</div>
        </div>

        <div id="map-container-president"></div>

        <div class="legend-container">
          <div class="element"><div class="dem-swath"><div class="legend-text">Hillary Clinton</div></div></div>
          <div class="element"><div class="rep-swath"><div class="legend-text">Donald Trump</div></div></div>
          <div class="element"><div class="stein-swath"><div class="legend-text">Jill Stein</div></div></div>
          <div class="element"><div class="johnson-swath"><div class="legend-text">Gary Johnson</div></div></div>
          <div class="element"><div class="other-swath"><div class="legend-text">Other winner</div></div></div>
          <div class="element"><div class="uncalled-swath"><div class="legend-text">Uncalled race</div></div></div>
        </div>

        <div class="divider"></div>
        <div class="inline-img ad desktop">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=AD%20SPACE&w=728&h=90"></img>
          	<div id="PA728">
          		<script type="text/javascript">/*<![CDATA[*/hearstPlaceAd("PA728");/*]]>*/</script>
          	</div>

        </div>
        <div class="inline-img ad mobile">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=AD%20SPACE&w=320&h=250"></img>
        </div>
        <div class="divider"></div>

      </div>

      <section id="federal">
      <div class="break-half"></div>
      <h1 class="section-hed">Federal
        <div class="section-chatter">This is some text that Tim is going to write, and after he writes it, I am going to paste it in instead of this placeholder text. It will contain some information about how this is a section and everyone should read it.</div>
      </h1>
      <div class="br"></div>

        <div id="fsec">
          <h4 class="race senate" id="senate">U.S. Senate, California</h4>
          <h4 class="race congress" id="congress">U.S. House, District 17</h4>
        </div>


      <div class="outer">

        <div class="hed">Federal election results</div>

        <div class="button-container">
          <div class="button race senate active" id="senatemap">Senate</div>
          <div class="button race congress" id="congressmap">House</div>
          <div class="button race governor" id="governormap">Governor</div>
        </div>

        <div id="senate-power-balance">
          <h3 class="party-name left">Democrats<span id="senate-dem">(100)</span></h3>
          <h3 class="party-name right">Republicans<span id="senate-rep">(100)</span></h3>
          <div class="senate-bar">
            <div class="bar" id="dem-senate"></div>
            <div class="bar" id="other-senate"></div>
            <div class="bar" id="uncounted-senate"></div>
            <div class="bar" id="rep-senate"></div>
            <div class="mark50"></div>
            <div class="marker270"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
            <div class="marker270label">50%</div>
          </div>
        </div>

        <div id="house-power-balance" class="disappear">
          <h3 class="party-name left">Democrats<span id="house-dem">(100)</span></h3>
          <h3 class="party-name right">Republicans<span id="house-rep">(100)</span></h3>
          <div class="house-bar">
            <div class="bar" id="dem-house"></div>
            <div class="bar" id="other-house"></div>
            <div class="bar" id="uncounted-house"></div>
            <div class="bar" id="rep-house"></div>
            <div class="mark50"></div>
            <div class="marker270"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
            <div class="marker270label">50%</div>
          </div>
        </div>

        <div id="governor-power-balance" class="disappear">
          <h3 class="party-name left">Democrats<span id="governor-dem">(100)</span></h3>
          <h3 class="party-name right">Republicans<span id="governor-rep">(100)</span></h3>
          <div class="governor-bar">
            <div class="bar" id="dem-governor"></div>
            <div class="bar" id="other-governor"></div>
            <div class="bar" id="uncounted-governor"></div>
            <div class="bar" id="rep-governor"></div>
            <div class="mark50"></div>
            <div class="marker270"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
            <div class="marker270label">50%</div>
          </div>
        </div>

        <div id="map-container-federal"></div>

        <div class="legend-container">
          <div class="element"><div class="dem-swath"><div class="legend-text">Democratic winner</div></div></div>
          <div class="element"><div class="rep-swath"><div class="legend-text">Republican winner</div></div></div>
          <div class="element"><div class="other-swath"><div class="legend-text">Other winner</div></div></div>
          <div class="element"><div class="uncalled-swath"><div class="legend-text">Uncalled race</div></div></div>
          <div class="element"><div class="no-race-swath"><div class="legend-text">No race</div></div></div>
        </div>

      </div>

    </section>
    <div class="divider"></div>
    <div class="inline-img ad desktop">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=AD%20SPACE&w=728&h=90"></img>
    </div>
    <div class="inline-img ad mobile">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=AD%20SPACE&w=320&h=250"></img>
    </div>
    <div class="divider"></div>
    <section id="state">
      <div class="break-half"></div>
      <h1 class="section-hed">State
        <div class="section-chatter">This is some text that Tim is going to write, and after he writes it, I am going to paste it in instead of this placeholder text. It will contain some information about how this is a section and everyone should read it.</div>
      </h1>

      <h2 class="races" id="racectrl"><i class="fa fa-caret-down" id="rcaret" aria-hidden="true"></i>  Races:</h2>

      <div id="racesec">
        <h4 class="race statesenate" id="statesenate">State Senate, District 11</h4>
        <h4 class="race statedistrict9" id="statedistrict9">State Senate, District 9</h4>
        <h4 class="race stateassembly" id="stateassembly">State Assembly, District 16</h4>
      </div>

      <h2 class="propositions" id="propctrl"><i class="fa fa-caret-down" id="caret" aria-hidden="true"></i>  Propositions:</h2>
      <div id="propsec">
        <input type="text" placeholder="&#xf002;  Search by proposition number or title" id="propositions-search" style="font-family:AntennaExtraLight, FontAwesome">

        <div class="propositions-list">
          <% csv.StatePropositionsData.forEach(function(prop,idx){ %>

            <div class='prop-group active <%=prop.number%> <%=prop.title%>'>
              <div class='prop-icon'>
                <img src='./assets/graphics/stateprops/prop<%=prop.number%>.png'></img>
                <div class='prop-name'>Prop. <%=prop.number%></div>
              </div>
              <div class='prop-name'><%=prop.title%></div>
              <div class='result'><div id="prop<%=prop.number%>"></div></div>
              <div class='prop-desc'><%=prop.description%></div>
            </div>

          <% }); %>
        </div>
      </div>

      <div class="br"></div>
      <div class="hed">How California's counties voted</div>
      <div class="chatter">Hover over or click on the counties to see how Californians voted in each precinct for representatives and propositions.</div>

      <div class="legend-container ca-legend active" id="ca-race-legend">
        <div class="element"><div class="dem-swath"><div class="legend-text">Democratic winner</div></div></div>
        <div class="element"><div class="rep-swath"><div class="legend-text">Republican winner</div></div></div>
        <div class="element"><div class="uncalled-swath"><div class="legend-text">Uncalled race</div></div></div>
        <div class="element"><div class="no-race-swath"><div class="legend-text">No race</div></div></div>
      </div>
      <div class="legend-container ca-legend" id="ca-prop-legend">
        <div class="element"><div class="yes-swath"><div class="legend-text">Yes vote</div></div></div>
        <div class="element"><div class="no-swath right"><div class="legend-text">No vote</div></div></div>
      </div>
      <div class="legend-container ca-legend" id="ca-sanchez-legend">
        <div class="element"><div class="dem-swath"><div class="legend-text">Kamala Harris (D)</div></div></div>
        <div class="element"><div class="dem2-swath"><div class="legend-text">Loretta Sanchez (D)</div></div></div>
      </div>

      <div class="flex-container" style="min-width: 315px;">
        <div class="button-container vertical" id="ca-map-buttons">
          <div class="button camap race cadistrict active">U.S. House races</div>
          <div class="button camap race cafeddistrict">U.S. Senate by district</div>
          <div class="button camap race casenate">State Senate</div>
          <div class="button camap race caassembly">State Assembly</div>
          <% csv.StatePropositionsData.forEach(function(prop,idx){ %>
            <div class="button camap prop camapprop prop<%=prop.number%>" id="button<%=prop.number%>"><div class='bold-button-number'>Prop. <%=prop.number%></div><div class='button-title'><%=prop.title%></div></div>
          <% }); %>
        </div>
        <div class="drop-down">
          <div class="select-text">Select race from the menu:</div>
          <select name="select" id="select-race">
            <option value="0" class="option">U.S. House races</option>
            <option value="1" class="option">U.S. Senate by district</option>
            <option value="2" class="option">State Senate</option>
            <option value="3" class="option">State Assembly</option>
            <% csv.StatePropositionsData.forEach(function(prop,idx){ %>
              <option value='<%=prop.number%>' class="option"><%=prop.title%> (Prop. <%=prop.number%>)</div>
            <% }); %>
          </select>
        </div>

        <div id="map-container-state"></div>
      </div>

    </section>
    <section id="local">
      <div class="break-half"></div>
      <h1 class="section-hed">San Francisco
        <div class="section-chatter">This is some text that Tim is going to write, and after he writes it, I am going to paste it in instead of this placeholder text. It will contain some information about how this is a section and everyone should read it.</div>
      </h1>

      <h2 class="sf-propositions" id="sfpropctrl"><i class="fa fa-caret-down" id="sfcaret" aria-hidden="true"></i>  Propositions:</h2>
      <div id="sfpropsec">
        <input type="text" placeholder="&#xf002;  Search by SF proposition letter or name" id="sf-propositions-search" style="font-family:AntennaExtraLight, FontAwesome">

        <div class="sf-propositions-list">
          <% csv.SFPropositionsData.forEach(function(prop,idx){ %>

            <div class='sf-prop-group active <%=prop.letter%> <%=prop.title%>'>
              <div class='sf-prop-icon'>
                <img src='./assets/graphics/sfprops/prop<%=prop.letter%>.png'></img>
              </div>
              <div class='prop-name'><%=prop.title%></div>
              <div class='result'><div id="sfprop<%=idx%>"></div></div>
              <div class='sf-prop-desc'><%=prop.description%></div>
            </div>

          <% }); %>
        </div>
      </div>

      <h2 class="races" id="sctrl"><i class="fa fa-caret-down" id="scaret" aria-hidden="true"></i>  Supervisors:</h2>
      <div id="ssec">
        <div id="sf-section"></div>
      </div>

    </section>
    <section id="regional">

      <div class="break-half"></div>
      <h1 class="section-hed">Bay Area
        <div class="section-chatter">This is some text that Tim is going to write, and after he writes it, I am going to paste it in instead of this placeholder text. It will contain some information about how this is a section and everyone should read it.</div>
      </h1>
      <div class="br"></div>

      <div class="regional-callouts">
        <div class="reg-prop-group long">
          <div class='sf-prop-icon'>
            <img src='./assets/graphics/regionalprops/measureRR.png'></img>
          </div>
          <div class='reg-prop-name'>Measure RR</div>
          <div class='result'><div id="regionalpropRR"></div></div>
          <div class="reg-prop-desc">Authorizes $3.5 billion in bonds for BART to rehabilitation and modernization. Requires cumulative two-thirds vote in San Francisco, Alameda and Contra Costa counties for passage.</div>
        </div>
        <% csv.RegionalMeasuresData.forEach(function(prop,idx){ %>
          <div class='reg-prop-group'>
            <div class='reg-prop-icon'>
              <img src='./assets/graphics/regionalprops/measure<%=prop.letter%>.png'></img>
            </div>
            <div class='reg-prop-name'><%=prop.title%></div>
            <div class='result'><div id="regionalprop<%=prop.letter%>"></div></div>
            <div class='reg-prop-desc'><%=prop.description%></div>
          </div>
        <% }); %>
      </div>

      <div class="br"></div>
      <div class="hed">Find results for all Bay Area measures and races</div>
      <div class="chatter">Choose your county and click on the ballot category to see all the races and propositions for your neighborhood.</div>

      <div class="button-container section-container">
        <% csv.sections.forEach(function(section,idx){ %>
          <% if (idx == 0) { %>
            <div class="button sectionbutton <%=section.shortname %> active"><%=section.name%></div>
          <% } else { %>
            <div class="button sectionbutton <%=section.shortname %>"><%=section.name%></div>
          <% } %>
        <% }); %>
      </div>

      <div id="regional-results"></div>

    </section>

    <div class="divider"></div>

    <div class="inline-img ad desktop">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=AD%20SPACE&w=728&h=90"></img>
    </div>
    <div class="inline-img ad mobile">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=AD%20SPACE&w=320&h=100"></img>
    </div>

    <div class="divider">
    </div>

    </div>

    </responsive-child>


    <%= t.include("partials/_footer.html") %>

    <script>

      // state data
      var propList = <%= JSON.stringify(csv.StatePropositionsData) %>;

      
      // SF data
      var SFpropList = <%= JSON.stringify(csv.SFPropositionsData) %>;

      // map look-up tables
      var stateCodes = <%= JSON.stringify(csv.stateCodes) %>;
      var countyCodes = <%= JSON.stringify(json.countyCodesLookup) %>;

      // local data
      var sectionList = <%= JSON.stringify(csv.sections) %>;

    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
